
@mixin rotate-face-right {
  transform: rotate(-90deg) translate3d(-100%, 0, 0);
  transform-origin: top left;
}

@mixin rotate-face-left {
  transform: rotate(90deg) translate3d(0, -100%, 0);
  transform-origin: top left;
}

.#{$pre}-rotate-container.#{$pre}-rotate-clockwise,
.#{$pre}-left .#{$pre}-rotate-container.#{$pre}-rotate-spread-clockwise,
.#{$pre}-right .#{$pre}-rotate-container.#{$pre}-rotate-inward,
.#{$pre}-left .#{$pre}-rotate-container.#{$pre}-rotate-outward {
  @include rotate-face-left
}

.#{$pre}-rotate-container.#{$pre}-rotate-counterclockwise,
.#{$pre}-left .#{$pre}-rotate-container.#{$pre}-rotate-spread-counterclockwise,
.#{$pre}-left .#{$pre}-rotate-container.#{$pre}-rotate-inward,
.#{$pre}-right .#{$pre}-rotate-container.#{$pre}-rotate-outward {
  @include rotate-face-right
}

.#{$pre}-rotate-container {
  position: absolute;

  &.#{$pre}-rotate-clockwise {
    .#{$pre}-left & {
      .#{$pre}-background { bottom: 0; }
    }
    .#{$pre}-right & {
      .#{$pre}-background { top: 0; }
    }
  }

  &.#{$pre}-rotate-counterclockwise {
    .#{$pre}-left & {
      .#{$pre}-background { top: 0; }
    }
    .#{$pre}-right & {
      .#{$pre}-background { bottom: 0; }
    }
  }

  &.#{$pre}-rotate-inward {
    .#{$pre}-background { bottom: 0; }
  }

  &.#{$pre}-rotate-outward {
    .#{$pre}-background { top: 0; }
  }

  &.#{$pre}-rotate-spread-clockwise {
    .#{$pre}-right & {
      transform: rotate(90deg) translate3d(0, -50%, 0);
      transform-origin: top left;
    }
  }

  &.#{$pre}-rotate-spread-counterclockwise {
    .#{$pre}-right & {
      transform: rotate(-90deg) translate3d(-100%, -50%, 0);
      transform-origin: top left;
    }
  }
}
