@media screen {
  .bindery-show-guides .bindery-running-header {
    outline: 1px solid cyan;
  }
}

.bindery-running-header {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 60px;
  right: 60px;
  margin: auto;
  font-size: 0.66em;
  -webkit-user-select: none;
}

[bindery-side="left"] .bindery-running-header {
  /*right: 40px;*/
}
[bindery-side="right"] .bindery-running-header {
  /*left: 40px;*/
}
