@media screen {
  .bindery-show-guides .bindery-running-header {
    outline: 1px solid cyan;
  }
  .bindery-show-guides .bindery-num {
    outline: 1px solid cyan;
  }
}

.bindery-sup {
  font-size: 0.667em;
}

.bindery-num, .bindery-running-header, .bindery-footer {
  font-size: 10pt;
  line-height: 1.3em;
}

.bindery-num, .bindery-running-header {
  position: absolute;
  text-align: center;
  top: 0.25in;
}

.bindery-left .bindery-num {
  left: 18pt;
}

.bindery-right .bindery-num {
  right: 18pt;
}

.bindery-left .bindery-running-header {
  left: 40pt;
  text-align: left;
}

.bindery-right .bindery-running-header {
  right: 40pt;
  text-align: right;
}
