.bindery-spread.bindery-left .bindery-content {
  /*width: 200%;*/
  position: absolute;
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
}
.bindery-spread.bindery-right .bindery-content {
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
}
