@media screen {
  [bindery-page] {
    outline: 1px solid rgba(0,0,0,0.3);
    background: white;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
  }
  [bindery-print-wrapper] {
    /*box-shadow: 2px 2px 0 rgba(0,0,0,0.8);*/
  }
  [bindery-flowbox] {
    outline: 1px solid cyan;
  }
  [bindery-footer] {
    outline: 1px solid cyan;
  }
  [bindery-content] {
    outline: 1px solid lime;
  }
  [bindery-num] {
    outline: 1px solid cyan;
  }
  .export, .measureArea {
    background: #eee;
    padding: 20px;
  }
}

@media print {
  [bindery-print-wrapper] {
    border: 1px dashed black;
    margin: 8px;
  }
}

.measureArea {
  outline: 1px solid cyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.measureArea p {
  outline: 1px solid cyan;
  /*color: cyan;*/
}

[bindery-print-wrapper] {
  page-break-after: always;
  display: flex;
  margin: 10px;
  width: 800px;
  margin: 8px auto;
}

[bindery-page] {
  width: 400px;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
}

[bindery-flowbox] {
  margin: 40px;
  margin-bottom: 0;
  flex: 1 1 auto;
  min-height: 0;
}

[bindery-footer] {
  margin: 40px;
  margin-top: 10px;
  flex: 0 1 auto;
  font-size: 0.66em;
}

.bleed [bindery-flowbox] {
  margin: 0;
  outline: 1px solid cyan;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}

[bindery-num] {
  position: absolute;
  text-align: center;
  bottom: 20px;
}
[bindery-left] [bindery-num] {
  left: 20px;
}
[bindery-right] [bindery-num] {
  right: 20px;
}

[bindery-continuation] {
  text-indent: 0 !important;
}
