* {
  font: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font: 20px/1.2 serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 4.8rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
}

sup {
  font-size: 0.7rem;
}

.content, .intro {
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
}

p {
  text-indent: 1rem;
}

figure {
  margin: 0;
  background: #eee;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 1.5rem;
  min-height: 240pt;
  overflow: hidden;
}

ul {
  list-style: none;
}

.med-figure {
  background: #e2ebf6;;
}

.big-figure {
  background: #dff3df;
}

figure img {
  height: 100%;
}

figcaption {
  padding: 24pt;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.aside {
  background: #ffffcc;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}
