@media screen {
  .#{$pre}-viewing .#{$pre}-controls {
    display: flex !important;
  }
}

$btn-pad: 8px 16px;
$btn-hover: #ddd;
$btn-active: #eee;

.#{$pre}-controls {
  font: 16px / 1.4 $system;
  display: none;
  flex-direction: row;
  align-items: start;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: auto;
  color: $text;
  padding: 10px;
  overflow: visible;
  -webkit-font-smoothing: antialiased;

  * {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: $accent;
    text-decoration: none;
  }
}

.#{$pre}-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  cursor: default;
  user-select: none;
}

.#{$pre}-title {
  position: relative;
  display: flex;
  padding: $btn-pad;
  transition: opacity 0.2s;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-right: auto;
}

.#{$pre}-print-options {
  display: flex;
  opacity: 0;
  max-width: 0;
  border-radius: 0;
  background: #e4e4e4;
  overflow: hidden;
  transition: all 0.4s;
  flex-wrap: nowrap;
  transition-delay: 0.2s;
  [bindery-view-mode='print'] & {
    max-width: 720px;
    margin-right: 12px;
    opacity: 1;
  }
  .#{$pre}-in-progress & {
    opacity: 0;
    display: none;
  }
}
.#{$pre}-controls .#{$pre}-print-options .#{$pre}-control {
  background-color: transparent;
}


.#{$pre}-spinner {
  border: 1px solid transparent;
  border-left-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  margin-right: 16px;
  .#{$pre}-in-progress & {
    // display: inline-block;
    opacity: 1;
    animation: spin 0.6s linear infinite;
  }
  .#{$pre}-debug & {
    animation: spin 2s linear infinite;
  }
  &.#{$pre}-paused {
    animation: none;
  }
}
@keyframes spin {
  0%   { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}


.#{$pre}-controls .#{$pre}-btn {
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  text-decoration: none;

  &:hover {
    background: $btn-hover;
  }

  &:active {
    background: $btn-active;
  }
  &:last-child {
    margin-right: 0;
  }
}

.#{$pre}-controls .#{$pre}-control {
  border-radius: 0;
  color: black;
  padding: $btn-pad;
  background-color: $background;
  border: 0;
}

.#{$pre}-controls .#{$pre}-btn-light {
  background: none;
  border: none;
}

.#{$pre}-controls .#{$pre}-btn-main {
  background: $accent;
  border-color: $accent;
  color: white;

  &:hover {
    background: $accent;
    opacity: 0.7;
  }

  &:active {
    background: black;
    opacity: 1;
  }
}

.#{$pre}-view-row {
  margin-left: auto;
  margin-right: 12px;
  transition: all 0.5s;
  .#{$pre}-in-progress & {
    opacity: 0;
    pointer-events: none;
  }
  .#{$pre}-debug & {
    display: none;
  }
}

.#{$pre}-btn-print {
  transition: all 0.5s;
  .#{$pre}-in-progress & {
    // background: gray;
    opacity: 0;
    pointer-events: none;
  }
  .#{$pre}-debug & {
    display: none;
  }
}

.#{$pre}-controls .#{$pre}-select-wrap {
  padding-right: 32px;
  background-image: url('./Viewer/_assets/icon-carat.svg');
  background-repeat: no-repeat;
  background-position: right;
  transition: all 0.2s;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: $btn-hover;
  }
  &:active {
    background-color: $btn-hover;
  }

  &.#{$pre}-hidden-select {
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0;
    border-right-width: 0;
    color: transparent;
  }
}

.#{$pre}-select {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-appearance: none;
  -moz-appearance:none;
  padding: $btn-pad;
  color: black;
  border: transparent;
  width: 100%;
}


.#{$pre}-debug-controls {
  display: none;
  .#{$pre}-debug .#{$pre}-in-progress & {
    display: block;
  }
}

.#{$pre}-refresh-btns {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
  transition: all 0.2s;
  .#{$pre}-in-progress & {
    display: none;
  }
  a {
    margin-left: 1em;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.#{$pre}-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  background: $accent;
  width: 0%;
  transition: all 0.2s;
  opacity: 0;
  height: 0;
  .#{$pre}-in-progress & {
    opacity: 1;
    height: 2px;
  }
}


@media screen and (max-width: 720px) {
  .#{$pre}-print-options {
    max-width: unset;
    max-height: 0;
    [bindery-view-mode='print'] & {
      max-width: unset;
      max-height: 240px;
      margin: 0;
    }
  }

  .#{$pre}-root {
    transition: all 0.2s;
  }

  [bindery-view-mode='print'].#{$pre}-root {
    padding-top: 120px;
  }
  .#{$pre}-controls {
    height: 98px;
  }

  .#{$pre}-view-row {
    margin-left: auto;
  }

  .#{$pre}-print-options {
    top: 54px;
    right: 10px;
    position: fixed;
    margin: 0;
    .#{$pre}-row {
      margin: 0;
    }
  }

}

@media screen and (max-width: 500px) {
  [bindery-view-mode='print'].#{$pre}-root {
    padding-top: 190px;
  }

  [bindery-view-mode='print'].#{$pre}-root {
    .#{$pre}-controls {
      background: $background;
      height: 170px;
    }
  }
  .#{$pre}-print-options {
    flex-direction: column;
    align-items: stretch;
    left: 10px;
  }
  &.#{$pre}-hidden-select {
    display: none;
  }
}
