@media screen {
  .bindery-viewing {
    background: #f1f1f1 !important;
  }
  .bindery-export {
    transition: opacity 0.2s;
    opacity: 1;
    background: #f1f1f1;
    padding: 50px 20px;
    z-index: 99;
    position: relative;
    padding-right: 240px;
    animation: fadeUp 0.3s;
    min-height: 100vh;
    /*min-width: calc(11in + 320px);*/
  }

   .bindery-measure-area {
     position: fixed;
     top: 0;
     left: 0;
     background: #f1f1f1;
     padding: 50px 20px;
     padding-right: 240px;
     z-index: 99;
   }

   .bindery-print-page {
     margin: 0 auto;
   }

   .bindery-error {
     font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
     font-size: 16px;
     margin: 15vh 15vw;
     max-width: 500px;
     background: url('./icon-error.svg') no-repeat 0% 0%;
     background-size: 48px;
     padding-top: 64px;
   }

   .bindery-error-title {
     font-size: 1.5em;
     margin-bottom: 16px;
   }

   .bindery-error-text {
     margin-bottom: 16px;
     white-space: pre-line;
   }

   .bindery-error-footer {
     opacity: 0.5;
     font-size: 0.66rem;
     text-transform: uppercase;
     letter-spacing: 0.02em;
   }

   .bindery-show-bleed .bindery-print-page {
     background: white;
     outline: 1px solid rgba(0,0,0,0.1);
     box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
     margin: 20px auto;
   }

   .bindery-letter-landscape {
     width: 11in;
     height: 8.5in;
   }
   .bindery-letter-portrait {
     width: 8.5in;
     height: 11in;
   }

}

@keyframes fadeUp {
  0% {
    opacity: 0;
    /*transform: translate3d(0, 50px, 0);*/
  }
  100% {
    opacity: 1;
    /*transform: translate3d(0, 0, 0);*/
  }
}

@page {
  margin: 0;
}

@media print {
  .bindery-export {
    -webkit-print-color-adjust: exact;
  }

  /* Don't print anything that hasn't been exported. This hides extra controls/ */
  .bindery-viewing > :not(.bindery-export) {
    display: none !important;
  }

  .bindery-print-page {
    margin: 20px;
  }

}

body.bindery-viewing {
  margin: 0;
}

/* Don't print anything that hasn't been exported. This hides extra controls/ */
.bindery-viewing > :not(.bindery-export) {
  display: none !important;
}

.bindery-print-page {
  page-break-after: always;
  position: relative;
  overflow: hidden;
}

.bindery-spread-wrapper {
  position: relative;
  display: flex;
  width: 800px;
  margin: 50px auto;
}

.bindery-print-page .bindery-spread-wrapper {
  margin: 0 auto;
}

.bindery-print-meta {
  padding: 12pt;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-size: 8pt;
}

.bindery-stage3d {
  perspective: 3000px;
  min-height: 100vh;
  transform-style: preserve-3d;
}

.bindery-page3d {
  margin: auto;
  width: 400px;
  height: 600px;
  transform: rotateY(0);
  transition: transform 0.5s, box-shadow 0.1s;
  transform-style: preserve-3d;
  transform-origin: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bindery-page3d:hover {
  box-shadow: 2px 0 4px rgba(0,0,0,0.2);
}
.bindery-page3d.flipped {
  transform: rotateY(-180deg);
}

.bindery-page3d .bindery-page {
  position: absolute;
  backface-visibility: hidden;
}

.bindery-page3d .bindery-page3d-front {
  transform: rotateY(0);
}
.bindery-page3d .bindery-page3d-back {
  transform: rotateY(-180deg);
}

.bindery-page3d .bindery-page3d-front::after {
  box-shadow: inset 12px 0 12px -12px rgba(0,0,0,0.4)
}
.bindery-page3d .bindery-page3d-back::after {
  box-shadow: inset -12px 0 12px -12px rgba(0,0,0,0.4)
}
