@media screen {
  .#{$pre}-viewing .#{$pre}-controls {
    display: block !important;
  }
}

.#{$pre}-controls {
  font: 14px / 1.4 $system;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: $sidebarWidth;
  z-index: 999;
  margin: auto;
  color: $text;
  background: $background;
  overflow: scroll;
  padding-bottom: 100px;

  .#{$pre}-in-progress & {
    // pointer-events: none;
  }

  * {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.#{$pre}-title {
  padding: 20px;
  font-size: 18px;
}

.#{$pre}-btn {
  -webkit-appearance: none;
  padding: 8px 16px;
  color: #444;
  border: none;
  background: rgba(0,0,0,0.06);
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  border-radius: 3px;
  width: auto;
  margin-right: 8px;

  &:focus {
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }

  &:hover {
    background: rgba(0,0,0,0.1);
  }

  &:active {
    background: rgba(0,0,0,0.14);
  }

  // .#{$pre}-in-progress & {
  //   opacity: 0.2;
  //   pointer-events: none;
  // }
}

.#{$pre}-btn-light {
  background: none;
}

.#{$pre}-btn-main {
  background: $accent;
  color: white;

  &:hover {
    background: $accent;
    opacity: 0.7;
  }

  &:active {
    background: black;
    opacity: 1;
  }
}

.#{$pre}-btn-print {
  .#{$pre}-in-progress & {
    display: none;
  }
}

.#{$pre}-viewswitcher {
  padding: 12px 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  width: $sidebarWidth;
  background: $background;
}

.#{$pre}-viewmode {
  height: 54px;
  width: 25%;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  color: #aaa;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background: $hover;
  }

  .#{$pre}-icon {
    height: 32px;
    width: 32px;
    background: currentColor;
    margin: 0 auto;
  }

  &.#{$pre}-grid .#{$pre}-icon {
    -webkit-mask: url('../_assets/icon-grid.svg') no-repeat 50% 50%;
  }
  &.#{$pre}-flip .#{$pre}-icon {
    -webkit-mask: url('../_assets/icon-flip.svg') no-repeat 50% 50%;
  }
  &.#{$pre}-outline .#{$pre}-icon {
    -webkit-mask: url('../_assets/icon-outline.svg') no-repeat 50% 50%;
  }
  &.#{$pre}-print .#{$pre}-icon {
    -webkit-mask: url('../_assets/icon-sheet.svg') no-repeat 50% 50%;
  }
}

[bindery-view-mode='grid'] .#{$pre}-grid,
[bindery-view-mode='interactive'] .#{$pre}-flip,
[bindery-view-mode='outline'] .#{$pre}-outline,
[bindery-view-mode='print'] .#{$pre}-print {
  color: $accent;
}


.#{$pre}-row {
  position: relative;
  display: block;
  padding: 8px 12px;
  margin: 4px 8px;
  cursor: pointer;

  select {
    float: right;
    border: none;
    background: transparent;
    padding: 12px;
    width: 100px;
    &:hover {
      background: $hover;
    }
  }

  input {
    width: 85px;
    padding: 4px 6px 4px 8px;
    text-align: right;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: black;
    background: none;

    &:focus {
      outline: none;
      background: $hover;
    }

    &:invalid {
      color: $invalid;
    }
  }
}


.#{$pre}-row.#{$pre}-debug-controls {
  display: none;
  .#{$pre}-debug .#{$pre}-in-progress & {
    display: block;
  }
}

.#{$pre}-expand-row {
  color: transparentize($text, 0.6);
  font-weight: 500;
  border-radius: 4px;

  &:hover {
    background: $hover;
  }

  &::after {
    content: '+';
    font-size: 1.5em;
    padding: 0;
    position: absolute;
    right: 12px;
    top: 2px;
    font-weight: 300;
  }
  &.selected {
    // background: $hover;
    // border-radius: 4px 4px 0 0;
  }
  &.selected::after {
    content: '–';
  }

  &.selected + .#{$pre}-expand-area {
    opacity: 1;
    max-height: 400px;
    margin-bottom: 12px;
  }
}


.#{$pre}-expand-area {
  // display: none;
  // background: $hover;
  opacity: 0;
  max-height: 0;
  margin: -4px 8px 0;
  border-radius: 0 0 4px 4px;
  transition: max-height 0.3s, margin 0.3s, opacity 0.5s;
  overflow: hidden;

  .#{$pre}-row {
    margin: 4px 0;
  }
}

.#{$pre}-size, .#{$pre}-margin {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  min-height: 80px;
  background: white;
  outline: 1px solid #ddd;
  height: 100px;
  width: 100px;
}

.#{$pre}-size {
  padding: 8px 0;
  font-size: 12px;
  div {
    position: relative;
    padding: 6px 12px;
    color: #aaa;
  }
}

.#{$pre}-layout-control {
  margin: 4px 12px 8px;
}

.#{$pre}-margin {
  overflow: hidden;

  > div {
    position: absolute;
    width: 54px;
    height: 24px;
    z-index: 5;
    &:hover {
      z-index: 99;
    }
  }

  .top {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
  }
  .bottom {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }
  .inner {
    left: 0;
    text-align: left;
    top: calc(50% - 12px);
    input {
      text-align: left;
    }
  }
  .outer {
    right: 0;
    text-align: right;
    top: calc(50% - 12px);
    input {
      text-align: right;
    }
  }
  .#{$pre}-preview {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #a9a9ff;
    height: auto;
    width: auto;
    z-index: 0;
    pointer-events: none;
    transition: border 0.2s;
  }
}

.#{$pre}-margin input {
  text-align: center;
  padding: 4px;
  font-size: 12px;
  text-shadow: 0 2px 0 white, 0 -2px 0 white, 2px 0 0 white, -2px 0 0 white;

  &:focus {
    background: none !important;
  }
}

.#{$pre}-switch {
  width: 28px;
  height: 16px;
  background: rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-right: 5px;
  vertical-align: middle;
  float: right;
  transition: all 0.2s;
  position: relative;

  &-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all 0.2s;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  &:hover .#{$pre}-switch-handle {
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  }
  &:active .#{$pre}-switch-handle {
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }
}

.#{$pre}-row.selected .#{$pre}-switch {
  background: transparentize($accent, 0.4);
}

.#{$pre}-row.selected .#{$pre}-switch-handle {
  background: $accent;
  left: 12px;
}
