$markLen: 12pt;
$markSpace: 8pt;
$markOffset: $markLen + $markSpace;


.bindery-crop-wrap {
  display: none;
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .bindery-show-crop & {
    display: block;
  }

  > div {
    position: absolute;
    overflow: hidden;

    &::before,
    &:after {
      content: "";
      background: black;
      width: $markLen;
      height: $markLen;
      display: block;
      position: absolute;
    }

    &:before {
      top: 0; left: 0;
    }
    &:after {
      bottom: 0; right: 0;
    }
  }

}
.bindery-show-crop .bindery-print-page .bindery-spread-wrapper {
  margin: 30pt auto;
}

.bindery-crop {
  &-fold,
  &-left,
  &-right {
    transform: scaleX(0.5);
    top: -$markOffset;
    bottom: -$markOffset;
    width: 1px;
    margin: auto;
  }
  &-fold { right: 0; left: 0; }
  &-left { left: 0; }
  &-right { right: 0; }


  &-top,
  &-bottom {
    transform: scaleY(0.5);
    left: -$markOffset;
    right: -$markOffset;
    height: 1px;
  }

  &-top {
    top: 0;
  }
  &-bottom {
    bottom: 0;
  }
}
