
$pre: "📖";

// $accent: white;
// $text: gray;
// $background: black;
$accent: #0000d0; //navy;
$invalid: #bf5656;
$text: black;
$background: #f4f4f4;
$hover: rgba(0,0,0,0.04);

$sidebarWidth: 240px;

$bleed: 0.25in;

$system: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;


@import '_page.scss';
@import '_continuation.scss';
@import '_crop.scss';

@import '_viewer.scss';
@import '_controls.scss';
