@charset "utf-8";

// Define defaults for each variable.

$black: black;
$accent: blue;
$accent-dark: navy;

$sidebar-width: 20rem;

$roomForDocsSideNav: 80rem;
$narrow: 40rem;

$system: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font: 16px/1.4 $system;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 600;
}
em {
  font-style: italic;
}

.post-content {
  font: 24px / 1.4 Times, Times New Roman, serif;
  // font: 20px / 1.4 Minion Pro, Times, Times New Roman, serif;
}


.sc {
  // font-feature-settings: "smcp";
  text-transform: uppercase;
  font-size: 0.9em;
}

.post-content .btn {
  font: 14px/1.4 $system;
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  border: 1px solid $black;
  color: $black;
  background: transparent;
  font-weight: 500;
  text-shadow: none;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &:hover {
    color: white;
    border-color: $accent;
    background: $accent;
    opacity: 1;
  }
}

.post-content p {
  margin-bottom: 1.35rem;
  // text-indent: 4rem;
  // &:first-child {
  //   text-indent: 0;
  // }
}
a {
  color: $accent;
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}

li {
  margin-left: 2rem;
}

$accent-light: rgba(5, 0, 154, 0.4);
.post-content a {
  color: $accent;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white;
  background-image: linear-gradient(to bottom, $accent-light 50%,rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.06em;

}


.site-header, .page-content, .site-footer {
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 1rem;
}

.site-header {
  position: relative;
  margin-top: 1rem;
  font-weight: 400;
}

.site-footer {
  padding-top: 1rem;
  padding-bottom: 4rem;
}


.nav-item {
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;
  font-weight: 600;

  &:last-child {
    margin-right: 0;
  }

  &.nav-active a {
    // color: $accent;

    &::after {
      content: '';
      background: currentColor;
      position: absolute;
      width: 4px;
      height: 4px;
      left: 0;
      right: 0;
      margin: auto;
      top: 120%;
      border-radius: 50%;
    }
  }
}

.docs-scroll-back {
  display: block;
  position: sticky;
  top: 1rem;
  text-align: right;
  z-index: 99;
  float: right;
  a {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    &:hover {
      background: #eee;
      opacity: 1;
    }
  }
}

.docs-nav {
  background: white;
  z-index: 999;
  position: relative;
  a {
    color: $black;
    &:hover {
      color: $accent;
      opacity: 1;
    }
  }
}

.docs-content ul {
  list-style: none;
  padding: 0;
}

.docs-content li {
  margin: 0 0 1rem 8rem;
  position: relative;
}

.docs-content li code:first-child {
  // color: #008080;
  font-weight: 500;
  width: 7.5rem;
  display: inline-block;
  position: absolute;
  left: -8rem;
  line-height: 2rem;
}

.docs-nav-item {
  position: relative;
  margin-bottom: 1rem;
  font-weight: 600;
}
.docs-nav-subitem {
  font-weight: 400;
  margin-bottom: 0 !important;
  padding-bottom: 0.5rem;
  &:last-child {
    // margin-bottom: 1rem !important;
    padding-bottom: 0;
  }

}

.docs-nav {
}

.page-content {
  // padding-top: 1rem;
}

.logo {
  width: 32px;
  height: 32px;
  background: url(logo.svg) no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 1rem;
  display: inline-block;
}

.site-title {
  font-weight: 500;
}

.site-header a {
  color: $black;
  font-weight: 500;
  &:hover {
    color: $accent;
    opacity: 1;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

h1 {
  // font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  // font-weight: 500;
  font-size: 5.5rem;
  line-height: 1;
  // letter-spacing: -0.005em;
  margin: 2rem 0;
}

h2 {
  font-size: 4rem;
  line-height: 1;
  padding: 2rem 0 1rem;
}

h3 {
  font: 2rem/1.5 $system;
  font-weight: 500;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

h4 {
  font: 1rem/1.5 $system;
  font-weight: 600;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

h5 {
  padding-top: 1.5rem;
  font-weight: 600;
}

blockquote {
  font-style: italic;
}

/**
 * Code formatting
 */
pre, code {
  line-height: 1.5rem;
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 1.1rem;
}



@media (max-width: $narrow) {
  html {
    // font-size: 12px;
  }
  pre, code {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .site-nav {
    margin: 1rem 0;
    float: none;
  }
  .post-content {
    font-size: 18px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1rem;
  }

  .docs-content li code:first-child {
    position: relative;
    left: -1.5rem;
    display: block;
  }
  .docs-content li {
    margin: 0 0 1rem 1.5rem;
    position: relative;
  }
}

@media (min-width: $narrow) {
  .site-header {
    margin-top: 2rem;
  }
  .site-nav {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
  }
  .logo {
    height: 48px;
    width: 48px;
  }

}

@media (max-width: $roomForDocsSideNav) {
  .docs-nav-item {
    // box-shadow: inset 0 0.5px grey;
    padding: 0.6rem 0 0.7rem;
    margin: 0;
    font-weight: 600;
    max-width: 30rem;
  }
  .docs-nav-item a {
    display: block;
    // display: inline-block;
    // width: 45%;
    // max-width: 16em;
  }
  .nav-sub {
    padding-top: 0.5rem;
    display: inline-block;
    vertical-align: top;
  }
  .docs-nav-subitem {
    font-weight: 400;
    padding-top: 0;
    box-shadow: none;
    display: block;
    width: auto;
    display: inline-block;
    margin-right: 1rem;
    a {
      width: auto;
    }
  }
}


@media (min-width: $roomForDocsSideNav) {
  .docs-nav {
    background: transparent;
    position: fixed;
    bottom: 0;
    max-height: 100%;
    overflow-y: scroll;
    right: 0;
    padding: 2rem;
    width: $sidebar-width;
  }
  .docs-nav-subitem {
    // border-left: 1px solid gray;
    // padding-left: 1rem;
  }
  .nav-sub {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .docs-scroll-back {
    display: none;
  }
}



.highlight pre {
  // background-color: #f5f5ff;
  // padding: 1rem;
  padding-left: 1.5rem;
  border-left: 1px solid #c0c0c0;
  margin: 1.5rem 0;
}

code {
  // padding: 1px 5px;
}

pre {
  // padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Import partials.
@import
  "syntax-highlighting"
;
