@charset "utf-8";

// Define defaults for each variable.

$black: black;
$accent: #0000d0;
$accent-dark: navy;

$string: #b93b5a;
$keyword: purple;

$sidebar-width: 12rem;
$docs-options-inset: 6rem;

$wide-enough-for-side-nav: 65rem;
$narrow: 40rem;

$system: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
$serif: T, Times, Times New Roman, serif;
$mono: 'Input Mono', 'Source Code Pro', Menlo, Consolas, Monaco, monospace;

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  text-indent: 0;
}

html {
  font: 24px/1.5 $serif;
  letter-spacing: 0.007em;
  font-weight: 300;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 600;
}
em {
  font-style: italic;
}

// .post-content {
//   font: 24px / 1.4 $serif;
// }


.sc {
  // font-feature-settings: "smcp";
  text-transform: uppercase;
  font-size: 0.95em;
}

.home-btns {
  margin: 1.5rem 0;
}

.btn, .post-content .btn {
  font: 0.6rem/1.4 $system;
  display: inline-block;
  padding: 0.4rem 0.9rem 0.45rem;
  border-radius: 24px;
  border: 1px solid currentColor;
  background: transparent;
  font-weight: 400;
  text-shadow: none;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  &:hover {
    // color: white;
    color: $accent;
    opacity: 1;
    background: transparent;
  }
  &:active {
    opacity: 0.5;
  }
}
.btn-link {
  font: 0.6rem/1.4 $system;
}
.make-book {
  position: absolute;
  top: -0.7rem;
  right: 0;
}

p + p {
  text-indent: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
  &:active {
    opacity: 0.4;
  }
}

li {
  // margin-left: 1rem;
  // list-style: square;
  margin-left: 1.5rem;
  list-style: none;
  text-indent: -1.5rem;
}

.post-content a {
  // color: $accent;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white;
  background-image: linear-gradient(to bottom, black 50%,rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .06em;
  background-position: 0 1.18em;
  &:hover {
    color: $accent;
    background-image: linear-gradient(to bottom, $accent 50%,rgba(0,0,0,0) 50%);
  }
}


.site-header, .page-content, .site-footer {
  margin: 0 5%;
  // max-width: 45rem;
  // padding: 0 1rem;
}

.short-title {
  display: none;
}

.page-content {
  margin: 0 5%;
}

.post-content {
  max-width: 35rem;
}

.site-header {
  position: relative;
  margin-top: 1rem;
}

.site-footer {
  padding-top: 1rem;
  padding-bottom: 4rem;
}


.nav-item {
  display: inline-block;
  position: relative;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }

  &.nav-active a {
    // color: $accent;

    &::before {
      content: '';
      background: currentColor;
      position: absolute;
      width: 4px;
      height: 4px;
      left: 0;
      right: 0;
      margin: auto;
      top: 120%;
      border-radius: 50%;
    }
  }
}


.scroll-back {
  display: none;
  position: fixed;
  top: 5rem;
  left: calc(5% + 0.1rem);
  text-align: right;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: scale(0.8) ;
  .docs-scrolled & {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
  }
  a {
    font-family: $system;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    // box-shadow: inset 0 0 0 0.8px black;
    &:hover {
      opacity: 0.5;
      color: $accent;
    }
  }
}

.docs-nav {
  font: 0.6rem / 1.5 $mono;
  z-index: 99;
  position: fixed;
  display: block;
  width: 12rem;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%,0,0);
  max-height: 100%;
  overflow-y: scroll;
  padding: 3rem 0 2rem 2rem;
  transition: all 0.2s;
  font-weight: 400;

  // border-right: 1px solid black;
  // background: white;

  a {
    position: relative;
    &:hover {
      color: $accent;
      opacity: 1;
    }
  }
  .selected::before {
    content: '';
    background: currentColor;
    position: absolute;
    width: 4px;
    height: 4px;
    left: -1em;
    top: 0.5rem;
    border-radius: 50%;
  }

  .docs-nav-visible & {
    transform: translate3d(0,0,0);
  }
}

.docs-toc-btn {
  position: fixed;
  top: calc(50vh - 1.5rem);
  left: -1rem;
  background: white;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 88;
}

.docs-toc-scrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  background: rgba(255,255,255,0.95);
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s;
  .docs-nav-visible & {
    opacity: 1;
    pointer-events: all;
  }
}

.docs-content p + ul {
  margin-top: 1.5rem;
}

.docs-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.docs-content ul li {
  margin: 0 0 1rem 1.5rem;
  position: relative;
}


.docs-content li li {
  margin: 0;
  text-indent: 0;
  code:first-child {
    color: $string;
    display: inline-block;
    margin-right: 0.5em;
  }
}


.docs-content > ul > li:not(.📖-continuation) > code:first-child {
  // color: #008080;
  font-weight: 500;
  position: relative;
  left: -1.5rem;
  display: block;
  line-height: 1.5rem;
}

.docs-content > ul > li {
  margin: 0 0 1rem $docs-options-inset;
  text-indent: 0;
}
.docs-content > ul > li:not(.📖-continuation) > code:first-child {
  position: absolute;
  left: -$docs-options-inset;
}


.docs-nav-item {
  position: relative;
  margin-bottom: 1rem;
  // font-weight: 600;
  // font-style: italic;
  text-transform: uppercase;
}
.docs-nav-subitem {
  // font-weight: 400;
  text-transform: none;
  font-style: normal;
  margin-bottom: 0 !important;
  &:last-child {
    // margin-bottom: 1rem !important;
    padding-bottom: 0;
  }

}

.page-content {
  // padding-top: 1rem;
}

.logo {
  width: 32px;
  height: 32px;
  -webkit-mask: url(logo32.svg) no-repeat 50% 50%;
  background: currentColor;
  vertical-align: middle;
  margin-right: 0.8rem;
  display: inline-block;
}

.site-title {
  font-weight: 400;
}

.site-nav {
  transition: opacity 0.25s;
}

.site-header a {
  &:hover {
    color: $accent;
    opacity: 1;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

h2 {
  margin: 4rem 0 1.5rem;
  font-size: 2rem;
}


.docs-content h2 {
  position: relative;
}

.docs-content h3 {
  font-style: italic;
  position: relative;
}

h3 {
  font-style: italic;
  margin: 4.5rem 0 1.5rem;

  &:first-child {
    margin-top: 1.5rem;
  }
}

h4 {
  font: 0.7rem/1.5 $system;
  font-weight: 600;
  padding-top: 1rem;
  letter-spacing: normal;
}

h5 {
  padding-top: 1.5rem;
  font-weight: 600;
}

blockquote {
  font-style: italic;
}

/**
 * Code formatting
 */
pre, code {
  line-height: 1.2rem;
  font-family: $mono;
  letter-spacing: -0.015em;
  font-size: 0.7rem;
}

p code, li code {
  font-size: 0.8rem;
}
@media (max-width: 512px) {
  .btn, .post-content .btn {
    display: block;
  }
}

@media (max-width: $narrow) {
  html {
    font-size: 20px;
    letter-spacing: 0.01em;
  }
  .site-nav {
    margin: 1rem 0;
  }
  .nav-item {
    margin-right: 0.5em;
  }
  div pre.highlight {
    padding: 0 5%;
    box-shadow: none;
    margin: 1.5rem -5%;
  }
  // pre, code {
  //   font-size:  0.7rem;
  //   line-height: 1.1rem;
  // }
  .btn, .post-content .btn {
    font-size: 0.7rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0.25rem;
  }
}

@mixin sideBySide {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  pre {
    width: 100%;
  }
  &:last-child pre {
    box-shadow: none;
  }
}

@media (min-width: $narrow) {
  .site-header {
    margin-top: 2rem;
  }
  .site-nav {
    position: absolute;
    left: $sidebar-width;
    left: 4rem;
    top: 0;
  }
  .logo {
    height: 40px;
    width: 40px;
    -webkit-mask-size: 40px;
    -webkit-mask: url(logo40.svg) no-repeat 50% 50%;
  }
  .code-compare > div {
    @include sideBySide;
  }
}


@media (max-width: $wide-enough-for-side-nav) {
  .page-content {
    margin-top: 2rem;
  }
  .short-title {
    display: block;
  }
  .long-title {
    display: none;
  }
  .docs-nav-item {
    margin: 0;
    max-width: 30rem;
  }
  .docs-nav-item a {
    display: block;
  }
  .nav-sub {
    padding-bottom: 1.5rem;
    display: inline-block;
    vertical-align: top;
  }
  .docs-nav-subitem {
    padding-top: 0;
    box-shadow: none;
    display: block;
    width: auto;
    a {
      width: auto;
    }
  }
}

@media (min-width: $wide-enough-for-side-nav) {
  .docs-toc-btn {
    display: none;
  }
  .docs-toc-scrim {
    display: none;
  }
  .scroll-back {
    display: block;
  }
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .docs-scrolled .site-nav {
    opacity: 0;
    pointer-events: none;
  }
  pre {
    width: calc(100vw - 8rem);
  }
  .docs-content pre {
    width: calc(100vw - 16rem);
  }
  .page-content {
    margin-top: 6rem;
  }
  .post-content {
    padding-left: 4rem;
  }
  .docs-content {
    // max-width: 28rem;
    margin-left: 8rem;
    // padding-left: 0;
  }

  .docs-nav {
    top: 7rem;
    width: $sidebar-width;
    background: transparent;
    border: 0;
    padding: 0 0 2rem 0;
    padding-left: 5%;
    transform: none;
    border: 0;
    .selected::before {
      display: block;
    }
  }

  .docs-nav h2 {
    padding-bottom: 3rem;
  }

}

.highlight pre, pre.highlight {
  padding-left: 1.5rem;
  padding-bottom: 0.1em;
  box-shadow: inset 0.5px 0 0 0 black;
  margin: 1.5rem 0;
}

.highlight pre code {
  font-size: 0.7rem;
  line-height: 1.3;
}

pre {
  // padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

html.book {
  font-size: 12pt;
  word-wrap: break-word;
}

.book {
  h1, h2 {
    margin-top: 0;
    margin-bottom: 10rem;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 6in;
  }
  h3 {
    &:first-child {
      margin-top: 0;
    }
  }

  .code-compare > div {
    @include sideBySide;
  }

  .📖-running-header {
    bottom: 24pt;
    top: unset;
  }
  .site-header {
    position: relative;
  }
  .toc {
    font-size: 2rem;
    li {
      margin: 0;
    }
  }
  pre.highlight {
    box-shadow: none;
    white-space: pre-wrap;
    width: 100%;
    padding: 0;
    margin: 1.5rem 0;
  }
  .highlighter-rouge:first-child .highlight {
    // margin-top: 0;
  }
  .post-content .btn {
    border: 0;
    padding: 0;
    font-size: 0.8rem;
    /*display: none;*/
  }
  .logo {
    width: calc(100% - 12pt);
    height: 90%;
  }
  .docs-content, .post-content {
    margin: 0;
    padding: 0;
  }
}

sup {
  font: 0.6rem/1.3 $mono;
}

.footnote {
  font: 0.7rem/1.3 $mono;
  letter-spacing: -0.015em;
}



// Import partials.
@import "syntax-highlighting";
