[bindery-side="left"].bindery-spread .bindery-content {
  width: 200%;
  position: absolute;
  left: 0;
}
[bindery-side="right"].bindery-spread .bindery-content {
  width: 200%;
  position: absolute;
  right: 0;
}
