@media screen {
  .viewing .controls {
    display: flex !important;
  }
}

$btn-pad: 4px 10px;
$btn-hover: rgba(0, 0, 0, 0.04);
$btn-active: rgba(0, 0, 0, 0.08);

.controls {
  font: 14px / 1.4 $system;
  display: none;
  flex-direction: row;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: auto;
  color: var(--bindery-ui-text);
  padding: 10px;
  overflow: hidden;
  transition: height 0.3s;
  -webkit-font-smoothing: antialiased;

  * {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: var(--bindery-ui-accent);
    text-decoration: none;
  }
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  cursor: default;
  user-select: none;
}

.print-options {
  display: none;
  .view-print & {
    display: flex;
  }
  .in-progress & {
    display: none;
  }
}

.controls .btn {
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  text-decoration: none;

  &:hover {
    background: $btn-hover;
  }

  &:active {
    background: $btn-active;
  }
  &:last-child {
    margin-right: 0;
  }
}

.control {
  border-radius: 6px;
  color: var(--bindery-ui-text);
  padding: $btn-pad;
  border: 1px solid #ddd;
  margin-right: 12px;
}

.controls .btn-light {
  background: none;
  border: none;
}

.controls .btn-main {
  background: var(--bindery-ui-accent);
  border-color: var(--bindery-ui-accent);
  color: white;

  &:hover {
    background: var(--bindery-ui-accent);
    opacity: 0.7;
  }

  &:active {
    background: black;
    opacity: 1;
  }
}

.view-row {
  transition: all 0.3s;
  .in-progress & {
    opacity: 0;
    pointer-events: none;
  }
  .debug & {
    display: none;
  }
}

.btn-print {
  margin-left: auto;
  transition: all 0.3s;
  .in-progress & {
    opacity: 0;
    pointer-events: none;
  }
}

.controls .select-wrap {
  padding-right: 24px;
  transition: all 0.2s;
  white-space: nowrap;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 9px;
    top: 12px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 0px;
    border: 4px solid transparent;
    border-top-color: currentColor;
  }

  &:hover {
    background-color: $btn-hover;
  }
  &:active {
    background-color: $btn-hover;
  }

  &.hidden-select {
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0;
    border-right-width: 0;
    color: transparent;
  }
}

.select {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  padding: $btn-pad;
  color: black;
  border: transparent;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .print-options {
    max-width: unset;
    max-height: 0;
    .view-print & {
      max-width: unset;
      max-height: 240px;
      margin: 0;
    }
  }

  .root {
    transition: all 0.2s;
  }

  .view-print.root {
    padding-top: 120px;
  }

  .view-print .controls {
    height: 64px;
  }

  .print-options {
    top: 48px;
    left: 10px;
    position: fixed;
    margin: 0;
  }
}

.view-print .controls {
  background: var(--bindery-ui-bg);
}

.view-flip .controls {
  background: transparent;
  box-shadow: none;
}

@media screen and (max-width: 960px) {
  .in-progress {
    .controls {
      background: transparent;
      box-shadow: none;
    }
    .root {
      padding-top: 40px;
    }
  }
  .controls {
    background: var(--bindery-ui-bg);
  }
  .root {
    padding-top: 72px;
  }
}

@media screen and (max-width: 500px) {
  .view-print.root {
    padding-top: 190px;
  }

  .view-print .controls {
    background: var(--bindery-ui-bg);
    height: 140px;
  }
  .print-options {
    flex-direction: column;
    align-items: stretch;
    left: 10px;
    right: 10px;
    .row {
      margin-bottom: 0.25rem;
    }
    .select-wrap {
      margin: 0;
    }
  }

  .hidden-select {
    display: none;
  }
}
