@media screen {
  .bindery-viewing .bindery-controls {
    display: block !important;
  }
}

.bindery-controls {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 240px;
  z-index: 999;
  margin: auto;
  background: white;
  outline: 1px solid rgba(0,0,0,0.05);
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  20% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.bindery-status {
  color: white;
  padding: 6px 10px;
}

.bindery-btn {
  -webkit-appearance: none;
  padding: 8px 12px;
  color: #444;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  border-radius: 2px;
  margin: 12px;
  width: auto;
}

.bindery-label {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 0.01em;
  padding: 12px 12px;
  border-top: 1px solid #ddd;
}

.bindery-toggle, .bindery-val {
  position: relative;
  display: block;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 8px;
}

.bindery-toggle:hover, .bindery-val:hover {
  background: rgba(0,0,0,0.06);
}


.bindery-val input {
  width: 85px;
  padding: 4px 8px;
  text-align: right;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: navy;
}

.bindery-val input:focus {
    outline: none;
    background: rgba(0,0,0,0.04);
}

.bindery-switch {
  width: 28px;
  height: 16px;
  background: rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-right: 5px;
  vertical-align: middle;
  float: right;
  font-size: 8px;
  transition: all 0.2s;
  position: relative;
}
.bindery-switch-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all 0.2s;
  position: absolute;
  left: 0px;
  top: 0px;
}
.bindery-toggle:hover .bindery-switch-handle {
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.bindery-toggle.selected .bindery-switch {
  background: rgba(0, 0, 128, 0.42);
}
.bindery-toggle.selected .bindery-switch-handle {
  background: navy;
  left: 12px;
}



.bindery-btn-main {
  background: navy;
  color: white;
  /*border-color: black;*/
}
.bindery-btn:focus {
  /*outline: 1px solid blue;*/
  outline: none;
}
.bindery-btn:hover {
  background: rgba(0,0,0,0.06);
}
.bindery-btn:active {
  background: rgba(0,0,0,0.1);
}
.bindery-btn-main:hover {
  background: navy;
  opacity: 0.8;
}
.bindery-btn-main:active {
  background: black;
  opacity: 1;
}
