@media screen {
  .#{$pre}-viewing .#{$pre}-controls {
    display: flex !important;
  }
}

$btn-border: #444;
$btn-pad: 8px 16px;
$btn-hover: #eee;
$btn-active: #ddd;

.#{$pre}-controls {
  font: 14px / 1.4 $system;
  display: none;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: start;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // width: $sidebarWidth;
  z-index: 999;
  margin: auto;
  color: $text;
  // background: $background;
  padding: 10px;
  overflow: visible;
  -webkit-font-smoothing: antialiased;

  * {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: $accent;
    text-decoration: none;
  }
}

.#{$pre}-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  cursor: default;
  user-select: none;
  margin-left: 8px;
  margin-bottom: 8px;
}

.#{$pre}-title {
  position: relative;
  opacity: 0;
  display: flex;
  padding: $btn-pad;
  transition: opacity 0.2s;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  margin-right: auto;
  .#{$pre}-in-progress & {
    opacity: 1;
    display: flex;
  }
}

.#{$pre}-title span {
  transition: all 0.2s;
}
.#{$pre}-title:hover {
  .#{$pre}-refresh-btns {
    opacity: 1;
  }
  span {
    opacity: 0;
  }
}

.#{$pre}-print-options {
  opacity: 1;
  transition: all 0.8s;
  transition-delay: 0.2s;
  display: none;
  [bindery-view-mode='print'] & {
    display: flex;
  }
  .#{$pre}-in-progress & {
    opacity: 0;
    display: none;
  }
}


.#{$pre}-spinner {
  border: 1px solid transparent;
  border-left-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  // position: absolute;
  // right: 0;
  // top: 8px;
  vertical-align: middle;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  transform: scale(0.4);
  margin-right: 16px;
  .#{$pre}-in-progress & {
    // display: inline-block;
    opacity: 1;
    animation: spin 0.6s linear infinite;
  }
  .#{$pre}-debug & {
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0%   { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}


.#{$pre}-controls .#{$pre}-btn {
  -webkit-appearance: none;
  color: black;
  padding: $btn-pad;
  // background: white;
  // border: 1px solid $btn-border;
  border: 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  margin-right: 8px;
  text-decoration: none;
  &:focus {
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }

  &:hover {
    background: $btn-hover;
  }

  &:active {
    background: $btn-active;
  }
  &:last-child {
    margin-right: 0;
  }
}

.#{$pre}-controls .#{$pre}-btn-light {
  background: none;
  border: none;
}

.#{$pre}-controls .#{$pre}-btn-main {
  background: $accent;
  border-color: $accent;
  color: white;

  &:hover {
    background: $accent;
    opacity: 0.7;
  }

  &:active {
    background: black;
    opacity: 1;
  }
}

.#{$pre}-btn-print {
  margin-left: auto;
  transition: all 0.8s;
  .#{$pre}-in-progress & {
    opacity: 0.5;
    pointer-events: none;
  }
  .#{$pre}-debug & {
    display: none;
  }
}

.#{$pre}-viewswitcher {
  .#{$pre}-in-progress & {
    // opacity: 0;
    // transform: scale(0.95);
    pointer-events: none;
  }
  opacity: 1;
  transform: scale(1);
  transition: all 0.8s;
  transition-delay: 0.2s;
  user-select: none;

  // margin: 20px;
  // position: absolute;
  // padding: 10px;
  // top: 0;
  // left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
}

.#{$pre}-viewmode {
  color: $btn-border;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 2px;

  &:hover {
    background: $btn-hover;
  }
  &:active {
    background: $btn-active;
  }

  .#{$pre}-icon {
    height: 36px;
    width: 32px;
    background: currentColor;
    margin: 0 auto;
  }

  &.#{$pre}-grid .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-grid.svg') no-repeat 50% 50%;
    [bindery-view-mode='grid'] & {
      -webkit-mask-image: url('./_assets/icon-grid-filled.svg');
    }
  }
  &.#{$pre}-flip .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-flip.svg') no-repeat 50% 50%;
    [bindery-view-mode='interactive'] & {
      -webkit-mask-image: url('./_assets/icon-flip-filled.svg');
    }
  }
  &.#{$pre}-outline .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-outline.svg') no-repeat 50% 50%;
    [bindery-view-mode='outline'] & {
      -webkit-mask-image: url('./_assets/icon-outline-filled.svg');
    }
  }
  &.#{$pre}-print .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-sheet.svg') no-repeat 50% 50%;
    [bindery-view-mode='print'] & {
      -webkit-mask-image: url('./_assets/icon-sheet-filled.svg');
    }
  }
}

[bindery-view-mode='grid'] .#{$pre}-grid,
[bindery-view-mode='interactive'] .#{$pre}-flip,
[bindery-view-mode='outline'] .#{$pre}-outline,
[bindery-view-mode='print'] .#{$pre}-print {
  // color: white;
  // background: $btn-border;
  color: $accent;
}

.#{$pre}-select-wrap {
  padding: $btn-pad;
  padding-right: 28px;
  background: url('./_assets/icon-carat.svg') no-repeat 50% 50%;
  background-color: $background; //white;
  background-position: right;
  border-radius: 2px;
  transition: all 0.2s;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: $btn-hover;
  }
  &:active {
    background-color: $btn-hover;
  }

  &.#{$pre}-hidden-select {
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0;
    border-right-width: 0;
    color: transparent;
  }
}


.#{$pre}-select {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-appearance: none;
  -moz-appearance:none;
  padding: $btn-pad;
  color: black;
  border: transparent; // 1px solid $btn-border;
  width: 100%;
}


.#{$pre}-debug-controls {
  display: none;
  .#{$pre}-debug .#{$pre}-in-progress & {
    display: block;
  }
}

.#{$pre}-refresh-btns {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
  transition: all 0.2s;
  .#{$pre}-in-progress & {
    display: none;
  }
  a {
    margin-left: 1em;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.#{$pre}-controls .#{$pre}-options-toggle {
  display: none;
}

@media (max-width: 720px) {

  [bindery-view-mode='print'].#{$pre}-root {
    padding-top: 120px;
  }
  .#{$pre}-controls {
    background: $background;
  }

  .#{$pre}-print-options {
    background: $background;
    top: 60px;
    left: 0;
    right: 0;
    position: fixed;
    margin: 0 8px 0 0;
    &.#{$pre}-options-hidden {
      display: none;
    }
  }

}

@media (max-width: 500px) {
  [bindery-view-mode='print'].#{$pre}-root {
    padding-top: 190px;
  }

  .#{$pre}-controls {
    // font-size: 12px;
  }
  .#{$pre}-print-options {
    flex-direction: column;
    align-items: stretch;
  }
  &.#{$pre}-hidden-select {
    max-width: none;
    max-height: 0;
  }
}
