@media screen {
  .#{$pre}-viewing .#{$pre}-controls {
    display: block !important;
  }
}

$controlborder: gray;

.#{$pre}-controls {
  font: 14px / 1.4 $system;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: $sidebarWidth;
  z-index: 999;
  margin: auto;
  color: $text;
  background: $background;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;

  * {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: $accent;
    text-decoration: none;
  }
}

.#{$pre}-title {
  margin: 20px 20px 8px;
  font-size: 18px;
  position: relative;
}

.#{$pre}-spinner {
  border: 1px solid transparent;
  border-left-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  vertical-align: middle;
  transition: all 0.2s;
  transform: scale(0.4);
  .#{$pre}-in-progress & {
    // display: inline-block;
    opacity: 1;
    animation: spin 0.6s linear infinite;
  }
  .#{$pre}-debug & {
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0%   { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}


.#{$pre}-controls .#{$pre}-btn {
  -webkit-appearance: none;
  padding: 10px 18px;
  color: black;
  border: none;
  background: transparent;
  border: 1px solid $controlborder;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  border-radius: 4px;
  margin-right: 8px;
  text-decoration: none;
  &:focus {
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }

  &:hover {
    background: rgba(0,0,0,0.1);
  }

  &:active {
    background: rgba(0,0,0,0.14);
  }
  &:last-child {
    margin-right: 0;
  }
}

.#{$pre}-controls .#{$pre}-btn-light {
  background: none;
  border: none;
}

.#{$pre}-controls .#{$pre}-btn-main {
  margin-top: 4px;
  background: $accent;
  border-color: $accent;
  color: white;

  &:hover {
    background: $accent;
    opacity: 0.7;
  }

  &:active {
    background: black;
    opacity: 1;
  }
}

.#{$pre}-btn-print {
  .#{$pre}-in-progress & {
    opacity: 0.5;
    pointer-events: none;
  }
  .#{$pre}-debug & {
    display: none;
  }
}

.#{$pre}-viewswitcher {
  user-select: none;

  margin: 20px;
  position: fixed;
  bottom: 0;
  right: 0;

  font-size: 0;
  overflow: hidden;
  width: $sidebarWidth - 40px;
  max-width: 240px;

  border: 1px solid $controlborder;
  border-radius: 4px;
}

.#{$pre}-viewmode {
  display: inline-block;
  color: $controlborder;
  cursor: pointer;
  width: 25%;
  font-size: 0;
  border-right: 1px solid $controlborder;

  &:last-child {
    border-right: 0;
  }

  &:hover {
    background: $hover;
  }

  .#{$pre}-icon {
    height: 36px;
    width: 32px;
    background: currentColor;
    margin: 0 auto;
  }

  &.#{$pre}-grid .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-grid.svg') no-repeat 50% 50%;
    [bindery-view-mode='grid'] & {
      -webkit-mask-image: url('./_assets/icon-grid-filled.svg');
    }
  }
  &.#{$pre}-flip .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-flip.svg') no-repeat 50% 50%;
    [bindery-view-mode='interactive'] & {
      -webkit-mask-image: url('./_assets/icon-flip-filled.svg');
    }
  }
  &.#{$pre}-outline .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-outline.svg') no-repeat 50% 50%;
    [bindery-view-mode='outline'] & {
      -webkit-mask-image: url('./_assets/icon-outline-filled.svg');
    }
  }
  &.#{$pre}-print .#{$pre}-icon {
    -webkit-mask: url('./_assets/icon-sheet.svg') no-repeat 50% 50%;
    [bindery-view-mode='print'] & {
      -webkit-mask-image: url('./_assets/icon-sheet-filled.svg');
    }
  }
}

[bindery-view-mode='grid'] .#{$pre}-grid,
[bindery-view-mode='interactive'] .#{$pre}-flip,
[bindery-view-mode='outline'] .#{$pre}-outline,
[bindery-view-mode='print'] .#{$pre}-print {
  color: white;
  background: $controlborder;
}


.#{$pre}-row {
  position: relative;
  display: block;
  padding: 8px 12px;
  margin: 0 8px;
  cursor: default;
  user-select: none;

  &:last-child {
    margin-top: 8px;
  }

  select {
    position: absolute;
    border: none;
    background: transparent;
    padding: 8px 12px;
    width: 60%;
    top: 8px;
    right: 12px;
    &:hover {
      background: $hover;
    }
  }

  input {
    width: 85px;
    padding: 4px 6px 4px 8px;
    text-align: right;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: black;
    background: none;

    &:focus {
      outline: none;
      background: $hover;
    }

    &:invalid {
      color: $invalid;
    }
  }
}


.#{$pre}-row.#{$pre}-debug-controls {
  display: none;
  .#{$pre}-debug .#{$pre}-in-progress & {
    display: block;
  }
}

.#{$pre}-refresh-btns {
  font-size: 12px;
  margin-top: 8px;
  float: right;
  .#{$pre}-in-progress & {
    display: none;
  }
  a {
    color: rgba(0,0,0,0.4);
    margin-left: 1em;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

@media (max-width: 600px) {
  .#{$pre}-root {
    padding-right: 0;
  }
  .#{$pre}-zoom-wrap > :last-child {
    margin-bottom: 100vh;
  }
  .#{$pre}-controls {
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    left: 0;
    width: unset;
    padding-bottom: 12px;
    top: unset;
  }
  .#{$pre}-viewswitcher {
    z-index: 1;
    left: 0;
    right: 160px;
    width: unset;
  }
  .#{$pre}-controls > .#{$pre}-row:last-child {
    text-align: right;
  }
}
