.content, .intro {
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
}

p {
  text-indent: 1rem;
  margin: 0;
}

figure {
  margin: 0;
  max-width: 100%;
  height: 300px;
  width: 400px;
  background: gray;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  padding: 2em;
}

.aside {
  background: #ffffcc;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}
