* {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Times, serif;
  font-size: 16px;
  line-height: 1.35;
}

.content, .intro {
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
}

h1 {
  font-size: 8rem;
  line-height: 0.8;
  word-break: break-all;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  -webkit-text-stroke: 1px black;
  color: transparent;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 8rem;
}


h3 {
  font-size: 2em;
  margin-bottom: 1rem;
}

p {
  text-indent: 1rem;
}

h2 + p {
  text-indent: 0;
}

sup {
  font-size: 0.66em;
}

figure {
  height: 300px;
  width: 400px;
  background: gray;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  padding: 2em;
}

.aside {
  background: #ffffcc;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}

.toc {
  list-style: none;
}
