* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

.content, .intro {
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
}

p {
  text-indent: 1.5rem;
  margin: 0;
}

figure {
  margin: 0;
  background: #eee;
  width: 100%;
  height: 100%;
  margin: 1em 0;
  padding: 3rem;
}

figure img {
  height: 100%;
}

.aside {
  background: #ffffcc;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}
