* {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

.content, .intro {
  font-family: Georgia;
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2em;
  margin-bottom: 1rem;
}

p {
  text-indent: 1rem;
}

sup {
  font-size: 0.66em;
}

figure {
  max-width: 100%;
  height: 300px;
  width: 400px;
  background: gray;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  padding: 2em;
}

.aside {
  background: #ffffcc;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}
