.bindery-measure-area {
  outline: 1px solid cyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*.bindery-measure-area * {
  outline: 1px solid gray;
  color: gray;
  background: transparent;
}

.bindery-measure-area .bindery-page {
  background: transparent;
  box-shadow: none;
}*/
