@media screen {
  .bindery-page {
    background: white;
    outline: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  .bindery-show-bleed .bindery-page {
    box-shadow: none;
    outline: none;
    overflow: visible;
  }
  .bindery-page3d .bindery-page {
    overflow: hidden !important;
  }


  .bindery-page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  /*.bindery-show-bleed .bindery-page::after {
    outline: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  }*/

  .bindery-show-guides .bindery-page::after {
    outline: 1px solid magenta;
  }

  .bindery-show-guides .bindery-flowbox {
    outline: 1px solid cyan;
  }
  .bindery-show-guides .bindery-footer {
    outline: 1px solid cyan;
  }
  .bindery-show-guides .bindery-content {
    box-shadow: inset 0 0 0 1px blue;
  }
  .bindery-show-guides .bindery-bleed {
    outline: 1px solid yellow;
  }

}

.bindery-page {
  /*width: 400px;*/
  /*height: 600px;*/
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
}

.bindery-flowbox {
  position: relative;
  margin: 60px 40px;
  margin-bottom: 0;
  flex: 1 1 auto;
  min-height: 0;
}

.bindery-footer {
  margin: 60px 40px;
  margin-top: 4px;
  flex: 0 1 auto;
  font-size: 0.5rem;
  font-family: Verdana, sans-serif;
}

[bindery-continuation] {
  text-indent: 0 !important;
  margin-top: 0 !important;
}

/*Old Bleed Stuff*/
.bindery-page.bleed .bindery-flowbox {
  margin: 0;
  position: absolute;
  top: -20px;
  bottom: -20px;
}
.bindery-left.bleed .bindery-flowbox {
  right: 0;
  left: -20px;
}
.bindery-right.bleed .bindery-flowbox {
  left: 0;
  right: -20px;
}

/*Bleed as layer*/
.bindery-bleed {
  position: absolute;
  top: -0.2in;
  bottom: -0.2in;
  z-index: 0;
}
.bindery-left .bindery-bleed {
  right: 0;
  left: -0.2in;
}
.bindery-right .bindery-bleed {
  left: 0;
  right: -0.2in;
}
