@media screen {
  .bindery-page {
    outline: 1px solid rgba(0,0,0,0.1);
    background: white;
    /*box-shadow: 3px 3px 0 rgba(0,0,0,0.2);*/
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  .bindery-show-guides .bindery-page {
    overflow: visible;
  }
  .bindery-show-guides .bindery-page::after {
    content: "";
    outline: 1px solid magenta;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .bindery-print-wrapper {
    /*box-shadow: 2px 2px 0 rgba(0,0,0,0.8);*/
  }
  .bindery-show-guides .bindery-flowbox {
    outline: 1px solid cyan;
  }
  .bindery-show-guides .bindery-footer {
    outline: 1px solid cyan;
  }
  .bindery-show-guides .bindery-content {
    outline: 1px solid lime;
  }
}

.bindery-page {
  /*width: 400px;*/
  /*height: 600px;*/
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
}

.bindery-flowbox {
  margin: 60px 40px;
  margin-bottom: 0;
  flex: 1 1 auto;
  min-height: 0;
}

.bindery-footer {
  margin: 60px 40px;
  margin-top: 4px;
  flex: 0 1 auto;
  font-size: 0.66em;
}

[bindery-continuation] {
  text-indent: 0 !important;
  margin-top: 0 !important;
}

.bindery-page.bleed .bindery-flowbox {
  margin: 0;
  position: absolute;
  top: -20px;
  bottom: -20px;
}
[bindery-side="left"].bleed .bindery-flowbox {
  right: 0;
  left: -20px;
}
[bindery-side="right"].bleed .bindery-flowbox {
  left: 0;
  right: -20px;
}
