title: Bindery.js
description: > # this means to ignore newlines until "baseurl:"
  Bindery.js is a JavaScript library to design print-quality books in your web browser.

version: v2.0.0-alpha
baseurl: "/bindery" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: evnbr
github_username:  evnbr

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
