{
  "env": {
    "test": {
      "presets": [
        [
          "es2015",
        ]
      ],
    },
    "development": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
