{
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers"]
    }
  }
}
