@media screen {
  .bindery-page {
    outline: 1px solid rgba(0,0,0,0.1);
    background: white;
    /*box-shadow: 3px 3px 0 rgba(0,0,0,0.2);*/
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  .bindery-show-guides .bindery-page {
    overflow: visible;
  }
  .bindery-show-guides .bindery-page::after {
    content: "";
    outline: 1px solid magenta;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .bindery-print-wrapper {
    /*box-shadow: 2px 2px 0 rgba(0,0,0,0.8);*/
  }
  .bindery-show-guides [bindery-flowbox] {
    outline: 1px solid cyan;
  }
  .bindery-show-guides [bindery-footer] {
    outline: 1px solid cyan;
  }
  .bindery-show-guides [bindery-content] {
    outline: 1px solid lime;
  }
  .bindery-show-guides [bindery-num] {
    outline: 1px solid cyan;
  }
  [bindery-export], .measureArea {
    background: #ddd;
    padding: 20px;
  }
}

@media print {
  .bindery-print-wrapper {
    border: 1px dashed black;
    margin: 20px;
  }
}

.measureArea {
  outline: 1px solid cyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.measureArea * {
  outline: 1px solid gray;
  color: gray;
  background: transparent;
}

.measureArea .bindery-page {
  background: transparent;
  box-shadow: none;
}

.bindery-print-wrapper {
  page-break-after: always;
  display: flex;
  width: 800px;
  margin: 20px auto;
}

.bindery-page {
  width: 400px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
}

[bindery-flowbox] {
  margin: 40px;
  margin-bottom: 0;
  flex: 1 1 auto;
  min-height: 0;
}

[bindery-footer] {
  margin: 40px;
  margin-top: 4px;
  flex: 0 1 auto;
  font-size: 0.66em;
}

.bleed [bindery-flowbox] {
  margin: 0;
  position: absolute;
  top: -20px;
  bottom: -20px;
}
[bindery-left].bleed [bindery-flowbox] {
  right: 0;
  left: -20px;
}
[bindery-right].bleed [bindery-flowbox] {
  left: 0;
  right: -20px;
}

[bindery-num] {
  position: absolute;
  text-align: center;
  bottom: 20px;
}
[bindery-left] [bindery-num] {
  left: 20px;
}
[bindery-right] [bindery-num] {
  right: 20px;
}


.bindery-stage3d {
  perspective: 2000px;
  min-height: 100vh;
  transform-style: preserve-3d;
}

.bindery-page3d {
  margin: auto;
  width: 400px;
  height: 600px;
  transform: rotateY(0);
  transition: all 0.8s;
  transform-style: preserve-3d;
  transform-origin: left;
  position: absolute;
  left: 0;
  right: -380px;
}

.bindery-page3d:hover {
  outline: 1px solid red;
  /*transform: translate3d(20px, 0, 0);*/
}
.bindery-page3d.flipped {
  transform: rotateY(-180deg);
}

.bindery-page3d .bindery-page {
  position: absolute;
  backface-visibility: hidden;
}


.bindery-page3d .bindery-page3d-front {
  transform: rotateY(0);
}
.bindery-page3d .bindery-page3d-back {
  transform: rotateY(-180deg);
}


[bindery-continuation] {
  text-indent: 0 !important;
}
