@media screen {
  [bindery-page] {
    outline: 1px solid rgba(0,0,0,0.3);
    background: white;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
  }
  [bindery-print-wrapper] {
    /*box-shadow: 2px 2px 0 rgba(0,0,0,0.8);*/
  }
  [bindery-flowbox] {
    outline: 1px solid cyan;
  }
  [bindery-footer] {
    outline: 1px solid cyan;
  }
  [bindery-content] {
    outline: 1px solid lime;
  }
  [bindery-num] {
    outline: 1px solid cyan;
  }
  [bindery-export], .measureArea {
    background: #eee;
    padding: 20px;
  }
}

@media print {
  [bindery-print-wrapper] {
    border: 1px dashed black;
    margin: 8px;
  }
  [bindery-controls] {
    display: none;
  }
}

.measureArea {
  outline: 1px solid cyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.measureArea p {
  outline: 1px solid cyan;
  /*color: cyan;*/
}

[bindery-print-wrapper] {
  page-break-after: always;
  display: flex;
  margin: 10px;
  width: 800px;
  margin: 8px auto;
}

[bindery-page] {
  width: 400px;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
}

[bindery-flowbox] {
  margin: 40px;
  margin-bottom: 0;
  flex: 1 1 auto;
  min-height: 0;
}

[bindery-footer] {
  margin: 40px;
  margin-top: 4px;
  flex: 0 1 auto;
  font-size: 0.66em;
}

.bleed [bindery-flowbox] {
  margin: 0;
  outline: 1px solid cyan;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}

[bindery-num] {
  position: absolute;
  text-align: center;
  bottom: 20px;
}
[bindery-left] [bindery-num] {
  left: 20px;
}
[bindery-right] [bindery-num] {
  right: 20px;
}


[bindery-preview] {
  perspective: 1200px;
  /*width: 60px;*/
  height: 0;
  width: 0;
}
[bindery-preview] [bindery-page] {
  position: absolute;
}
[bindery-preview] [bindery-left] {
  transform: rotateY(50deg);
}
[bindery-preview] [bindery-right] {
  transform: rotateY(-50deg);
}


[bindery-continuation] {
  text-indent: 0 !important;
}

[bindery-controls] {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 99;
  width: 600px;
  margin: auto;
  background: rgba(50,50,50,0.9);
  outline: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
}
_::-webkit-:-webkit-full-screen:host:not(:root:root), [bindery-controls] {
  background: rgba(0,0,0,0.5);
  -webkit-backdrop-filter: blur(20px);
}

[bindery-btn] {
  color: black;
  -webkit-appearance: none;
  border: none;
  background: white;
  padding: 6px 10px;
  border: 1px solid rgba(0,0,0,0.3);
  cursor: pointer;
  font-size: 14px;
  border-radius: 2px;
}
[bindery-btn]:focus {
  /*outline: 1px solid blue;*/
}
[bindery-btn]:hover {
  /*background: black;
  color: white;*/
  box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}
[bindery-btn]:active {
  box-shadow: 0 0 0;
  background: rgba(0,0,0,0.04);
}
