@media print {
  .bindery-controls {
    display: none;
  }
}

.bindery-controls {
  position: fixed;
  /*top: 0;*/
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 99;
  width: 500px;
  margin: auto;
  background: rgba(50,50,50,0.9);
  /*outline: 1px solid rgba(0,0,0,0.3);*/
  border-radius: 4px;
}
_::-webkit-:-webkit-full-screen:host:not(:root:root), .bindery-controls {
  background: rgba(0,0,0,0.5);
  -webkit-backdrop-filter: blur(20px);
}

.bindery-status {
  color: white;
  padding: 6px 10px;
}

.bindery-btn {
  color: white;
  -webkit-appearance: none;
  border: none;
  /*background: rgba(0,0,0,0.5);*/
  padding: 6px 10px;
  /*border: 1px solid rgba(0,0,0,0.3);*/
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  /*border-radius: 2px;*/
}
.bindery-btn-main {
  background: blue;
  color: white;
}
.bindery-btn:focus {
  /*outline: 1px solid blue;*/
}
.bindery-btn:hover {
  /*background: black;
  color: white;*/
  box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}
.bindery-btn:active {
  box-shadow: 0 0 0;
  background: rgba(0,0,0,0.04);
}
