.bindery-viewing .bindery-controls {
  display: block !important;
}

.bindery-controls {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  position: fixed;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 999;
  /*width: 500px;*/
  margin: auto;
  /*background: rgba(50,50,50,0.9);*/
  /*background: white;*/
  /*outline: 1px solid rgba(0,0,0,0.3);*/
  /*border-radius: 4px;*/
}
_::-webkit-:-webkit-full-screen:host:not(:root:root), .bindery-controls {
  background: rgba(0,0,0,0.5);
  -webkit-backdrop-filter: blur(20px);
}

.bindery-status {
  color: white;
  padding: 6px 10px;
}

.bindery-btn {
  /*color: white;*/
  -webkit-appearance: none;
  /*border: none;*/
  /*background: rgba(0,0,0,0.5);*/
  /*background: white;*/
  padding: 8px 12px;
  color: black;
  /*border: 1px solid rgba(0,0,0,0.3);*/
  /*border: 1px solid currentColor;*/
  border: none;
  cursor: pointer;
  font-size: 12px;
  background: #f1f1f1;
  border-radius: 2px;
  margin-right: 4px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.bindery-btn-main {
  background: navy;
  color: white;
  /*border-color: black;*/
}
.bindery-btn:focus {
  /*outline: 1px solid blue;*/
  outline: none;
}
.bindery-btn:hover {
  background: rgba(0,0,0,0.06);
}
.bindery-btn:active {
  background: rgba(0,0,0,0.1);
}
.bindery-btn-main:hover {
  background: navy;
  opacity: 0.8;
}
.bindery-btn-main:active {
  background: black;
  opacity: 1;
}
