$system: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;

:root {
  --bindery-ui-bg: #f4f4f4;
  --bindery-ui-accent: black;
  --bindery-ui-text: black;
}

@import './Page/page.scss';
@import './Rules/fullBleed.scss';
@import './Viewer/viewer.scss';
@import './Viewer/Layouts/printMarks.scss';
